@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-family: Montserrat, serif;
	font-style: normal;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;

	color-scheme: light;
	color: #48484a;
	background-color: #f2f2f1;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
  justify-content: center;
  align-items: center;
}
