@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-family: Montserrat, serif;
	font-style: normal;
	line-height: 1.5;
	font-weight: 400;
	text-align: center;

	color: #F2F2F1;
	/* color: #48484A; */
	background-color: #1A659D;
	/* background-color: #88C5EB; */
	

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
